@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

.ql-tooltip {
  z-index: 2;
}

.ql-editor {
  font-size: 1.2em;
}
/*
.ql-editor p {
    text-indent: 30px;
}
*/
